[include]
    path = .gitconfig.local
[core]
    ignorecase = false
    autocrlf = false
    editor = vim
    pager = delta --plus-style="syntax #012800" --minus-style="normal #340001" --theme='Solarized (light)'
[interactive]
    diffFilter = delta --color-only
[pager]
    branch = false

#[url "git@github.com:"]
#   insteadOf = https://github.com/
