configfiles/fisherman
configfiles/fisher/
configfiles/fish/conf.d/
configfiles/fish/functions/
configfiles/fish/completions/
configfiles/fish/fishd.*
configfiles/fish/fish_variables
configfiles/gocode/
configfiles/mcz-xoxo/
configfiles/nvim/conf/.dein_github_token.vim
configfiles/pudb/saved-breakpoints*

